################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Bin
/BusinessActions/Import_Ready_For_PreAssessment_ENG.cmd
/BusinessActions/Import_Ready_For_PreAssessment_OPS.cmd
/BusinessActions/Import_Ready_For_PreAssessment_SEC.cmd
/BusinessActions/Remove_System_From_Anywhere_ADMINONLY.cmd
/Setup/release/CMPSLib-master
/BusinessActions
